<footer id="footer" class="foot">
    <div class="footer-top  footer-default">
      <br/>
        <div class="container">
            <div class="row">
                
                <div class="col-lg-4 col-md-6 footer-info"> 
                    <h3 style="animation: flash 1.4s linear infinite;margin-top:2%;letter-spacing:5px;">BLOG</h3>
                   
                </div>
               
                <div style= "margin-top:10px" class="col-lg-4 col-md-6 footer-links">
                    <h4> Liens utiles </h4>
                        <ul>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                </div>
           
                <div style= "margin-top:10px" class="col-lg-4 col-md-6 footer-contact"> 
                    <h4> Contactez-nous</h4>
                    <p>
                        Bambilor   Rue:6 <br/>
                        Bambilor,  Dakar<br/>
                        Sénégal<br/>
                        <strong>Téléphone:</strong>+221 78 140 12 17<br/> 
                        <strong>Em@il:</strong>chirba@gmail.com<br/>
                    </p>
        
                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-instagram"></i></a> 
                        <a href="#" class="twitter"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-linkedin"></i></a>      
                    </div> 
                </div>  
  
            </div>
        </div>
    </div>
   
    <div class="container">
        <div class="copyright">
            &copy; Copyright<strong>WebsiteName</strong>. Tout Droits Reservés
        </div>
        <div class="credits">
            Designed by <a href="#">WebsiteName</a>
        </div>
    </div>
  </footer>