<h1>Page personnelle user</h1>
<div class="container-fluid">
    <main class="col-md-9 ms-sm-auto col-lg-12 px-md-4"> 
        <div class="table-responsive">
            <table class="table table-striped table-sm">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom de l'article</th>
                <th scope="col">Description de l'article</th>
                <th scope="col">Catégorie de l'article</th>
                <th scope="col">Date de création de l'article</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1,001</td>
                    <td>random</td>
                    <td>data</td>
                    <td>placeholder</td>
                    <td>text</td>
                </tr>
               
            </tbody>
            </table>
         </div>
    </main>
</div>    