<div class="bg-light p-5 rounded">

    <div class="row">

        <div class="col-md-6">
            <h1>Présentation du blog</h1>
            <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you
                scroll, this navbar remains in its original position and moves with the rest of the page.</p>
        </div>


        <div class="col-md-6">
            <img src="/assets/images/blog.jpg" class="card-img-top " alt="...">

        </div>


    </div>

</div>