<div>
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <h4><strong class="d-inline-block mb-2 text-primary">{{article.categorie}}</strong></h4>
            <h3 class="mb-0">{{ article.name }}</h3>
            <div class="mb-1 text-muted">{{article.created_at | date:'medium'}}</div>
            <p class="card-text mb-auto">{{ article.description | slice:0:100}}.........</p>
            <p class="position-btn"><a [routerLink]="['/articles',article.id]" class="btn btn-primary position-bottom">Plus details</a>
            <!--<a href="#"  class="stretched-link">Plus de détails</a>-->
        </div>
        <div class="col-auto d-none d-lg-block">
        
            <img [src]='article.url' class="bd-placeholder-img" width="200" height="280" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"/>

        </div>
  </div>
</div>
